extends ../layout/base

block content
	div.margin-top-30px(ng-controller="GraphController")
		div.row
			div.col.s6
				ul.collapsible(data-collapsible="accordio")
					li
						div.collapsible-header
							p="Stock Inventory Analytics"
						div.collapsible-body
							canvas#stockItems(width="400", height="400")
