extends ../layout/base

block title
	title="Dashboard"

block content
	div.container(ng-controller="DashboardController")
		h1
			i.fa.fa-newspaper-o.margin-right-12px
			|Announcements

		//- div.row
		//- 	h5 Filter by
		//- 	div.col.s2
		//- 		input#unread(type="checkbox")
		//- 		label(for="unread")
		//- 		span="Unread"
		//- 	div.col.s2
		//- 		input#read(type="checkbox")
		//- 		label(for="read")
		//- 		span="Read"
		//- 	div.col.s2
		//- 		input#urgent(type="checkbox")
		//- 		label(for="urgent")
		//- 		span="Urgent"
		//- 	div.col.s2
		//- 		input(type="checkbox", id="important").browser-default
		//- 		label(for="important")
		//- 		span="Important"
		//- 	div.col.s3
		//- 		input(type="checkbox", id="announcement")
		//- 		label(for="announcement")
		//- 		span="Announcement"

		div.row
			ul.collapsible(data-collapsible="expandable")
				li.disableCollapsible(ng-repeat="board in boardMessages")
					div.collapsible-header
							h5
								input(ng-checked="{{board.read}}", ng-click="markRead(board)", type="checkbox", id="{{board._id}}").browser-default
								label(for="{{board._id}}")
								|{{board.title}}

								span.right {{board.like}}
								i.padding-top-8px(ng-mouseleave="removeClass()", ng-mouseenter="addClass()", ng-hide="{{board.likeBoolean}}", ng-click="likeButton(board)").fa.fa-thumbs-up.right
								i.padding-top-8px(ng-mouseleave="removeClass()", ng-mouseenter="addClass()", ng-show="{{board.likeBoolean}}", ng-click="likeButton(board)").fa.fa-thumbs-down.right

					div.collapsible-body
						p.truncate="{{board.description}}" 
						p
							a(href="./board/{{board._id}}") Read More...
						p.right-align.text-style 
							a.modal-trigger(href="#commentModal", ng-click="initCommentModal(board); getBoard(board)") Reply

					div#commentModal.modal
						div.modal-content

							span(ng-click="closeCommentModal()").right
								i.fa.fa-times.chage-color-fa-times
							h2 Reply to {{localTitle}}

							div.row
								div.input-field.col.s12
									input#comment_message.validate(type="text", ng-model="comment.comment")
									label(for="comment_message") Comment

						div.modal-footer
							a(ng-click="replyComment(comment)").btn.waves-effect.waves-red.z-depth-3.red.accent-4 Reply