extends ../layout/base

block content
	div.container(ng-controller="BoardMessageController")
		div.row
			div.input-field.col.s8
				input(ng-model="board.title", placeholder="Title")

			div.input-field.col.s4
				select.browser-default(ng-model="board.importance")
					option(value='Announcement') Announcement
					option(value='Important') Important
					option(value='Urgent') Urgent

			div.input.col.s12
				textarea.materialize-textarea(ng-model="board.description")

		div.col.s1.input-field.inline
			a(ng-click="addNewBoardMessage(board)", onclick="Materialize.toast('Created new item!', 1500)").waves-effect-waves-light.btn.red.z-depth-2
				|Create
