extends ../layout/base

block title
	title="Single Board"

block content
	div.container(ng-controller="SingleBoardController")
		h1 {{singleBoard.title}}
		p {{singleBoard.description}}

		h4
			i.fa.fa-comment
			| Comments

		div(ng-repeat="board in singleBoard.comments").row
			div.col.m8
				div.card.blue-grey.darken-1.z-depth-3
					div.card-content.white-text
						span.card-title
							i.fa.fa-clock-o
							| {{board.dateCreated}}
							i.fa.fa-times.right.change-color-fa-times(ng-click="deleteComment(board)")
							i.fa.fa-pencil.right(ng-click="editCommentMode = !editCommentMode")
						p(ng-show="editCommentMode") {{board.comment}}
						div(ng-hide="editCommentMode")
							input#update_message.validate(type="text", ng-model="updateComment", placeholder="{{board.comment}}")
							a.btn(ng-click="editComment(board, updateComment); editCommentMode = !editCommentMode") Update
					div.card-action
						a.modal-trigger(ng-click="initCommentModal()", href="#commentModal") Reply

						div#commentModal.modal
							div.modal-content

								span(ng-click="closeCommentModal()").right
									i.fa.fa-times.change-color-fa-times
								h2 Reply

								div.row
									div.input-field.col.s12
										input#comment_message.validate(type="text", ng-model="comment.comment")
										label(for="comment_message") Comment

							div.modal-footer
								a(ng-click="replyComment(comment); closeCommentModal()").btn.waves-effect.waves-red.z-depth-3.red.accent-4 Reply
