
doctype html
html(ng-app="InventoryApp")
	head
		meta(charset="UTF-8")
		block title
			title="Managment System"
		script(src="../../../bower_components/angular/angular.min.js")
		script(src="../../../bower_components/angular-resource/angular-resource.js")
		script(src="../../../bower_components/ng-tags-input/ng-tags-input.js")
		script(src="../../../bower_components/jquery/dist/jquery.js")
		script(src="../../../bower_components/materialize/bin/materialize.js")
		script(src="../../../bower_components/chart.js/dist/Chart.js")

		//- Angular files
		script(src="../../../angular/angularApp.js")
		script(src="../../../angular/js/InventoryFactory.js")
		script(src="../../../angular/controllers/InventoryController.js")
		script(src="../../../angular/controllers/BoardMessageController.js")
		script(src="../../../angular/controllers/SupplierController.js")
		script(src="../../../angular/controllers/DashboardController.js")
		script(src="../../../angular/controllers/RecipeController.js")

		script(src="../../../angular/js/graph.js")
		script(src="../../../public/script/script.js")

		link(rel="stylesheet", type="text/css", href="../../../bower_components/materialize/dist/css/materialize.css")
		link(rel="stylesheet", type="text/css", href="../../../bower_components/font-awesome/css/font-awesome.min.css")
		link(href='https://fonts.googleapis.com/css?family=Slabo+27px', rel='stylesheet')
		link(rel="stylesheet", type="text/css", href="../../../public/css/style.css")
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(rel="stylesheet", type="text/css", href="../../../bower_components/ng-tags-input/ng-tags-input.css")

	body
		header

			nav.green
				div.nav-rapper
					ul.hide-on-med-and-down.right
						li
							a(href='/dashboard') Dashboard
						li
							a(href='/graph') Analytics

		block content