doctype html
html(ng-app="InventoryApp")
	head
		meta(charset="UTF-8")
		block title
			title="Managment System"
		script(src="../../../bower_components/angular/angular.min.js")
		script(src="../../../bower_components/angular-resource/angular-resource.js")
		script(src="../../../bower_components/jquery/dist/jquery.js")
		script(src="../../../bower_components/materialize/bin/materialize.js")
		script(src="../../../bower_components/chart.js/dist/Chart.js")

		//- Angular files
		script(src="../../../angular/angularApp.js")
		script(src="../../../angular/js/InventoryFactory.js")
		script(src="../../../angular/controllers/InventoryController.js")
		script(src="../../../angular/controllers/BoardMessageController.js")
		script(src="../../../angular/controllers/SupplierController.js")
		script(src="../../../angular/controllers/DashboardController.js")

		script(src="../../../angular/js/graph.js")
		script(src="../../../public/script/script.js")

		link(rel="stylesheet", type="text/css", href="../../../bower_components/materialize/dist/css/materialize.css")
		link(rel="stylesheet", type="text/css", href="../../../bower_components/font-awesome/css/font-awesome.min.css")
		link(href='https://fonts.googleapis.com/css?family=Slabo+27px', rel='stylesheet')
		link(rel="stylesheet", type="text/css", href="../../../public/css/style.css")

	body
		header
			nav.green
				//- ul.hide-on-med-and-down
				//- 	li
				//- 		a.btn.btn-collapse(href='#!') Show Dashboard
				//- 	li
				//- 		a(href='#!') Second Sidebar Link
				//- ul#slide-out.side-nav.fixed
				//- 	li.bold
				//- 		a.waves-effect.waves-teal(href='#!') 
				//- 			|Notice Board
				//- 			span.badge 1337
				//- 	li.bold
				//- 		a.waves-effect.waves-teal(href='#!') Second Sidebar Link
				//- 	li.no-padding
				//- 		ul.collapsible.collapsible-accordion
				//- 			li
				//- 				a.collapsible-header.waves-effect.waves-teal
				//- 					|Dashboard
				//- 					i.mdi-navigation-arrow-drop-down
				//- 				.collapsible-body
				//- 					ul
				//- 						li
				//- 							a(href='/items') Manage Inventory
				//- 						li
				//- 							a(href='#!') Second
				//- 						li
				//- 							a(href='#!') Third
				//- 						li
				//- 							a(href='#!') Fourth
				//- 	a.button-collapse(href='#', data-activates='slide-out')
				//- 		|Show

		block content